<!DOCTYPE html>
<html>

<head>

<title>A cool Node.js App</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/public/style.css">
 
</head>

<body>



      <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                        <div class="navbar-header">
                                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                     <span class="sr-only">Toggle navigation</span>
                                     <span class="icon-bar"></span>
                                     <span class="icon-bar"></span>
                                     <span class="icon-bar"></span>
                                 </button>
                   
                          </div>
                           <div class="navbar-collapse collapse">
                                 <ul class="nav navbar-nav">
                                     
                                    
                                     <li>
                                         <a href="/">Home</a>
                                     </li>
                                         
                                                                        
                                     <li>
                                         <a href="/about">About this Node.js App</a>
                                     </li>
                                     
                                     
                                   <li>
                                      <a href="/showpersons">Admin Persons (React)</a>
                                   </li>

                                     <li>
                                        <a href="/persons" target="_blank">Show Persons (JSON)</a>
                                    </li>
                                    
                                 </ul>
                        </div>
                  </div>
           </nav>
                   
           <br/><br/><br/>
         
 <div class="container">

   <h1>About my Node.js App</h1>
   <div class="nodeview">

   This Node.js and React Application is made using:
   <br/> <br/>

   <ul>
       <li>Node.js</li>
       <li>Besides a MySQL NPM package no framework like Express was used</li>
   </ul>

   <ul>
       <li>React, HTML, CSS, JavaScript ES5 and ES6</li>
       <li>Bootstrap for the responsive design</li>
   </ul>

   <ul>
       <li>MySQL as the database</li>
       <li>Micosoft Azure App Service as cloud hosting using Windows and iisnode</li>
   </ul>

   <ul>
       <li>Visual Studio Code as Text Editor</li>
    </ul>

  </div>

</body>

</html>